{% extends "base.html" %} 
{% load static %} 

{% block content %} 


<div class="container">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque doloremque veritatis earum asperiores dolorum provident, fugiat officiis quia ipsam, ducimus molestias recusandae at optio assumenda exercitationem tempore itaque beatae?
    Odio, aperiam laboriosam placeat non incidunt ab. Magnam libero, hic maxime assumenda magni modi consequuntur sed sint optio voluptates, eius cum temporibus! Modi, ad harum perferendis temporibus totam veritatis iure.
    Voluptatem ex quas, laudantium adipisci architecto fuga alias pariatur vel consectetur molestias dolor delectus dolores neque optio, cum blanditiis. Officia repudiandae consequatur explicabo. Quibusdam aut cumque dolores vel iusto amet?
    Praesentium dolore, quisquam maxime modi temporibus explicabo omnis a aperiam, vero quae quam asperiores veritatis? Eligendi, sapiente odio quaerat natus perspiciatis porro sunt. Alias sunt laborum et voluptatibus laudantium. Illo.
    Quam vel consectetur illo necessitatibus aperiam saepe molestias quis reprehenderit fuga ipsa ipsum rerum veniam culpa delectus tempora harum vitae neque autem nam error, fugit eveniet dolores. Dicta, pariatur sapiente.</p>
</div>
{% endblock content %}
